body {
    font-family: 'Open Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
    position: absolute;
    height: 100vm;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.header-container{
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 10px;
    background: #1f2937;
    color: white;
   

}

.header-left{
    flex: 3 1 auto;
    padding-left: 142px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right{
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 142px;

}



.header-item{
    flex: 1 1 auto;
    width: 100%;
    
   
    
}



.hero-container{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 10px;
    background: #1f2937;
    color: white;
    
}

.hero-item {
    flex: 1 1 auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    
}



.random-container {
    display: flex;
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 10px;
    background: white;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.random-inner {
    flex: 1 1 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.random-item {
    flex: 1 1 auto;
    margin: 0px;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

    

}

.random-box {
    width: 200px;
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 200px;
    flex: 1 1 200;
    justify-content: center;
    text-align: center;
    
}

.blue-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    justify-content: center;

}



.inner-footer {
    display: flex;
    background-color: #3882f6 ;
    padding: 50px 300px 50px 300px;
    margin-top: 70px;
    margin-left: 146px;
    margin-right: 146px;
    margin-bottom: 70px;
    border-radius: 10px;
    color: white; 
}

.inner-item {
    flex: 1 1 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.footer-big{
    flex 2 1 auto;
}

.footer-small {
    flex 1 1 auto;
}